*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Inter", "Arial", sans-serif;
}

img {
    display: block;
    height: auto;
}

.site-main {
    flex-grow: 1;
    margin-top: 117px;
}

.topk {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: -40px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s;
    background-color: #436d7b;
}
