.site-footer {
    padding-top: 40px;
    padding-bottom: 30px;
}

.site-footer__text {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top: 20px;
    margin-bottom: 55px;
}

.site-footer__inner {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.site-footer__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.footer__bold {
    display: inline-block;
    color: #08546c;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.site-footer__link {
    color: #787878;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    text-decoration-line: none;
}


@media only screen and (min-width: 600px) {
    .footer__innerbox {
        width: 270px;
    }

    .footer__iconbox {
        display: flex;
        align-items: flex-start;
        column-gap: 40px;
    }

    .footer__bold {
        margin-top: 0;
    }

    .footer__twobox {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        column-gap: 220px;
    }
}

@media only screen and (min-width: 800px) {
    .footer__iconbox {
        column-gap: 180px;
    }

    .footer__twobox {
        column-gap: 360px;
    }
}

@media only screen and (min-width: 1000px) {
    .footer__iconbox {
        column-gap: 120px;
    }

    .footer__twobox {
        column-gap: 120px;
        margin-top: 0;
    }

    .site-footer__box {
        display: flex;
        column-gap: 120px;
    }
}

@media only screen and (min-width: 1150px) {
    .site-footer__box {
        justify-content: space-between;
        column-gap: 0;
    }

    .footer__iconbox {
        column-gap: 160px;
    }

    .footer__twobox {
        column-gap: 160px;
    }

    .site-footer {
        padding-top: 100px;
        padding-bottom: 172px;
    }
}