.site-header {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #052c36;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: 0.3s;
}

.sidebar {
    position: fixed;
    top: 0;
    transition: 0.5s;
    left: -300px;
    width: 180px;
    height: 100vh;
    background-color: #394b51;
}

.sidebar.show {
    left: 0;
}

.sitebar-link {
    text-decoration-line: none;
    color: #608d95;
    font-size: 15px;
}

.sidebar-list {
    margin-top: 40px;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    list-style: none;
}

.site-header.shrink {
    background-color: #394b51;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar__list {
    display: flex;
    column-gap: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.navbar__link {
    color: #a1b5bb;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: none;
}

.site-header__link {
    text-decoration-line: none;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px; /* 160% */
    padding: 14px 34px;
    border-radius: 25px;
    background-color: #436d7b;
}

.site-header__small {
    display: flex;
    align-items: center;
    column-gap: 206px;
}

.site-header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: none;
}

.site-header__link {
    display: block;
}

.site-header__btn {
    width: 20px;
    height: 17px;
    background-image: url(../../images/hamburgmenu.svg);
    background-position: center;
    background-color: transparent;
    border: none;
}

@media only screen and (min-width: 530px) {
    .sitebar-link {
        text-decoration-line: none;
        color: #608d95;
        font-size: 20px;
    }

    .sidebar {
        position: fixed;
        top: 0;
        transition: 0.5s;
        left: -300px;
        width: 300px;
        height: 100vh;
        background-color: #394b51;
    }

    .sidebar-list {
        margin-top: 60px;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        list-style: none;
    }
}

@media only screen and (min-width: 750px) {
    .navbar {
        display: block;
    }

    .navbar__list {
        column-gap: 20px;
    }

    .site-header__small {
        column-gap: 120px;
    }

    .site-header__btn {
        display: none;
    }

    .site-header__link {
        display: block;
    }
}

@media only screen and (min-width: 1050px) {
    .navbar__list {
        column-gap: 50px;
    }

    .site-header__small {
        column-gap: 210px;
    }
}
