@use "../mixins" as *;
@use "../variables" as *;

.search {
    padding-top: 56px;
    padding-bottom: 34px;
}

.search__strong {
    display: block;
    color: #265a6a;
    font-family: Schoolbell;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 93.333% */
    text-decoration-line: underline;
    text-align: center;
    margin-bottom: 30px;
}

.search__title {
    color: #08546c;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 133.333% */
    margin-top: 0;
    margin-bottom: 30px;
}

.search__list {
    @include lists;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    background: #fff;
}

.search__item {
    padding: 105px 28px 34px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05);
}

.search__item:hover {
    background-color: #08546c;
    box-shadow: 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05);
}

.search__item:hover::before {
    background-image: url(../../images/Gro2.svg);
}

.search__item:hover .search__bold {
    color: #fff;
}

.search__item:hover .search__text {
    color: #b2bbbd;
}

.search__item::before {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url(../../images/droup1.svg);
    position: absolute;
    top: 30px;
    left: 30px;
}

.search__bold {
    display: inline-block;
    color: #0f1221;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.search__text {
    color: #696969;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px; /* 160% */
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 700px) {
    .search {
        padding-top: 41px;
        padding-bottom: 97px;
    }

    .search__item {
        background: #fff;
        padding: 32px 140px 40px 156px;
    }

    .search__bold {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .search__text {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1150px) {
    .search {
        padding-top: 361px;
        padding-bottom: 200px;
    }

    .search__title {
        font-size: 45px;
        line-height: 60px;
    }

    .search__list {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 26px;
    }

    .search__item {
        padding: 105px 25px 34px;
    }
}

@media only screen and (min-width: 1250px) {
    .search__bold {
        font-size: 20px;
    }

    .search__text {
        font-size: 16px;
    }
}
