@use "../variables" as *;
@use "../mixins" as *;

.useful__title {
    color: #08546c;
    font-size: 25px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 56.25px; /* 125% */
    margin-top: 0;
    margin-bottom: 10px;
}

.useful {
    padding-bottom: 100px;
}

.useful__desc {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 25px; /* 160% */
    margin-top: 0;
    margin-bottom: 60px;
}

.useful__img {
    width: 272px;
    height: auto;
}

.useful__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    @include lists;
}

.useful__item {
    width: 272px;
    position: relative;
}

.useful__bold {
    display: inline-block;
    color: #08546c;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px; /* 96% */
    margin-top: 40px;
    margin-bottom: 10px;
}

.useful__text {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px; /* 160% */
    margin-top: 0;
    margin-bottom: 20px;
}

.useful__link {
    color: #08546c;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px; /* 142.222% */
    text-decoration-line: none;
    position: relative;
}

.useful__link::after {
    content: "";
    width: 18px;
    height: 14px;
    background-image: url(../../images/iconning.svg);
    position: absolute;
    right: -20px;
    bottom: 0;
}

.useful__link:hover {
    color: #ffa800;
}

@media only screen and (min-width: 450px) {
    .useful__item {
        width: 402px;
    }

    .useful__img {
        width: 402px;
    }
}

@media only screen and (min-width: 600px) {
    .useful__title {
        font-size: 44px;
    }
}

@media only screen and (min-width: 700px) {
    .useful__title {
        margin-left: 0;
    }

    .useful__list {
        row-gap: 50px;
    }

    .useful__bold {
        font-size: 20px;
    }

    .useful__text {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1100px) {
    .useful__title {
        font-size: 45px;
    }

    .useful {
        padding-bottom: 200px;
    }

    .useful__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 70px;
    }

    .useful__item {
        width: 515px;
    }

    .useful__img {
        width: 515px;

    }
}
